importFrom("stats", "cov", "isoreg", "quantile", "var")
importFrom("utils", "tail")

importFrom("graphics", "plot","points")
importFrom("survival", "coxph","basehaz")

export(surrosurvROC, surrosurvROC)

